.header{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    @extend %font-add;
    font-size: 14px;
    @media (max-width: $mobile-width) { 
        flex-direction: column;
    }
}

.mb-3 {
    width: 300px!important;
    margin-bottom: 0!important;
    @media (max-width: $mobile-width) { 
        margin-top: 10px;
    }
}

.btn-outline-secondary {
    background-color: #AEB5B9!important;
    color: white!important;
    @extend %font-add;
    width: 95px!important;
}

.buttons-block{
    display: flex;
    .buttons-block__refresh{
        height: 44px;
        position: relative;
        margin-right: 10px;
        .refresh {
            width: 44px;
            height: 44px;
        }
        img {
            position: absolute;
            height: 44px;
        }
        :hover {
            cursor: pointer;
        }
    }
    .buttons-block__language{
        margin-right: 10px;
        text-align: center;
        .language {
            width: 71px!important;
            height: 44px;
            border: none;
            border-radius: .25rem;
            background-color: #AEB5B9;
            color: white;
            outline: none;
            padding: 0 10px;
        }
    }

    .buttons-block__listen{
        height: 44px;
        width: 44px;
        position: relative;
        margin-right: 10px;
        background-color: #aeb5b9;
        border-radius: .25rem;
        background-color: #AEB5B9;
        .fa-bullhorn {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
        }
        cursor: pointer;
        @media (max-width: $tablet-width) { 
            margin-top: 10px;
        }
    }

    button {
        height: 44px;
        border: none;
        border-radius: .25rem;
        background-color: #AEB5B9;
        color: white;
    }
    @media (max-width: $tablet-width) { 
        flex-wrap: wrap;
    }
}

form {
    height: 44px!important;
    input {
        height: 44px!important;
    }
    .fa-microphone {
        position: absolute;
        z-index: 1;
        right: 102px;
        top: 11px;
        color: #6c757d;
        cursor: pointer;
    }
}

.btn-group {
    height: 44px;
    margin-right: 10px;
    .btn-secondary {
        font-size: 14px!important;
        padding-top: 10px;
        background-color: #AEB5B9;
    }
}

.btn-group-micro {
    .btn-secondary {
        padding-top: 2px;
    } 
    @media (max-width: $tablet-width) { 
        margin-top: 10px;
    }
}

.micro-indicator {
    position: absolute;
    content: "•";
    font-size: 29px;
    top: 0px;
    left: 1px;
    color: #01e601;
}