.main-container {
    display: flex;
    justify-content: space-between;
    @extend %font-add;
    color: white;
    @media (max-width: $tablet-width) {
        flex-direction: column;
    }
}

.main-container__temperature{
    display: flex;
    flex-direction: column;
    .temperature__today {
        .today__grad {
            font-size: 306px;
            position: relative;
            @media (max-width: $mobile-width) { 
                font-size: 95px;
            }
        }
        .today__grad::after {
            content: "°";
            font-size: 100px;
            position: absolute;
            top: 39px;
            @media (max-width: $mobile-width) { 
                font-size: 50px;
                top: 9px;
            }
        }
        display: flex;
        .today__properties {
            margin-left: 55px;
            display: flex;
            flex-direction: column;
            align-self: center;
            span {
                margin-top: 10px;
                font-size: 22px;
            }
            @media (max-width: $mobile-width) { 
                margin-left: 65px;
                align-self: flex-end;
                span {
                    margin-top: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    .temperature__another-days {
        display: flex;
        justify-content: space-around;
        .another-days__day {
            display: flex;
            flex-direction: column;
            .day {
                font-size: 22px;
            }
            .grad {
                font-size: 80px;
            }
            @media (max-width: $mobile-width) { 
                .day {
                    font-size: 10px;
                }
                .grad {
                    font-size: 40px;
                }
            }
        }
        @media (max-width: $mobile-width) { 
            margin-top: 15px;
            justify-content: space-between;
        }
    }
    @media (max-width: $mobile-width) { 
        margin-top: 20px;
    }
}

.todays__grad {
    position: relative;
    .white {fill:#FFFFFF}
    .gray {fill:#E0E0E0}
    .yellow {fill:#FFEB3B}
    .today__element {
        position: absolute;
        height: 120px;
        width: 120px;
        margin: 10px;
        top: 0;
        right: -180px;
        @media (max-width: $mobile-width) { 
            height: 45px;
            width: 45px;
            left: 100%;
        }
    }
}

.another-days__day {
    position: relative;
    .white {fill:#FFFFFF}
    .gray {fill:#E0E0E0}
    .yellow {fill:#FFEB3B}
    .another-days__element {
        position: absolute;
        height: 45px;
        width: 45px;
        margin: 10px;
        top: 14px;
        left: 100%;
    }
    @media (max-width: $mobile-width) { 
        .another-days__element {
            position: initial;
            height: 25px;
            width: 25px;
            margin-top: 5px;
            margin-left: 5px;
            margin-bottom: 0;
        }
    }
}